.grid {
	display: grid;
}

.flex {
	display: flex;
}

.gap {
	gap: 16px;
}

.gap-x {
	column-gap: 16px;
}

.gap-y {
	row-gap: 16px;
}

.justify-center {
	justify-content: center;
}

.itmes-center {
	align-items: center;
}
