.form-group {
	margin-bottom: 16px;
}

.form-group:last-child {
	margin-bottom: 0;
}

.form-input {
	width: 100%;
	min-height: 40px;
	line-height: 40px;
	background-color: var(--white);
	border-style: solid;
	border-color: var(--white);
	border-image: none;
	border-radius: 8px;
	font-size: 14px;
	padding-left: 16px;
	padding-right: 16px;
}

.form-button {
	margin-top: 58px;
}

.button {
	padding: 14px 44px;
	background-color: var(--blue);
	color: var(--white);
	border-color: var(--blue);
	border-style: solid;
	border-radius: 50px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: opacity 0.25s ease-out;
}

.button:hover {
	opacity: 0.75;
}

.button--yellow {
	background-color: var(--yellow);
	border-color: var(--yellow);
}

.button--blue {
	background-color: var(--blue);
	border-color: var(--blue);
}

.button--purple {
	background-color: var(--purple);
	border-color: var(--purple);
}

.button--dark {
	background-color: var(--dark);
	border-color: var(--dark);
}
